/* ===================css link part start================= */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
/* -------------------css link part end------------------- */

/* =================== common css part start================= */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul,ol{
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}
/* .container{
    width: 960px;
} */
/* -------------------common css part end------------------- */
/* =================== root part start================= */
:root{
    --praymary_color:#F1B4BB;
    --brand-color : #1F4172;
    --secendary: #132043;
    --inknut : 'Inknut Antiqua', serif;
    --inika : 'Inika', serif;
    --inria :'Inria Sans', sans-serif;
    --white_clr : #FFFFFF;
    --scndry_clr : #70AAFF;  
}
/* -------------------root part end------------------- */
/* ===================top button strat================= */
.top_button{
    width: 40px;
    height: 40px;
    background: var(--secendary);
    border-radius: 10px;
    font-size: 24px;
    color: var(--white_clr);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all linear;
    border: 1px solid var(--white_clr);
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    visibility: hidden;
    opacity:0;
}
 .top_button:hover{
    background: var(--white_clr);
    color: var(--secendary);
    cursor: pointer;
}
.go_top{
    visibility: visible;
    opacity: 1;
    animation: came_top 1s;
}
@keyframes came_top{
    from{
        bottom: -10%;
    }
    to{
        bottom: 10%;
    }
}
/* -------------------top button end------------------- */
/* =================== manu part start================= */
.main_menu{
    background: #F5F5F5 !important;
    z-index: 999;
}
.main_menu li {
    position: relative;
}
.main_menu li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: var(--praymary_color);
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.4s all linear;
}
.main_menu li:hover::after{
    width: 100%;
}
.main_menu ul li{
    margin-top: 24px;
}
.main_menu ul li a{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--inria);
    color:  var(--brand-color) !important;
    padding: 0 15px !important;
    position: relative;
    transition: 0.4s all linear;
}
.main_menu ul li a:hover{
    color: var(--praymary_color) !important;
}
.Sign_bttn a{
    margin-left: -60px;
}
.Sign_bttn a{
    width: 100px;
    height: 41px;
    background: var(--brand-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--inika);
    color: #fff;
    text-align: center;
    line-height: 41px;
    border: 2px solid transparent;
    transition: 0.4s all linear;
}
.Sign_bttn a:hover{
    color: var(--brand-color);
    background: transparent;
    border: 2px solid var(--brand-color);
}
.Menu_search{
    height: 41px;
    width: 41px;
    font-size: 16px;
    line-height: 41px;
    color: var(--brand-color);
    margin-left: 24px;
    transition: 0.4s all linear;
}
.Menu_search .search_icon{
    margin-left: -104px;
}
.Menu_search:hover{
    color: var(--praymary_color);
}
.sticky{
    padding: 41px 0;
    height: 50px;
    background: #F5F5F5;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

/* -------------------manu part end------------------- */
/* =================== banner part start================= */
#banner{
    width: 100%;
    background: url(../images/bannerbg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}
.banner_text{
    margin-left: 679px;;
}
.banner_text h1{
    width: 432px;
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
}
.banner_text p{
    width: 324px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--inika);
    color: #000;
    padding: 39px 0 39px 0;
}
.banner_btn{
    width: 175px;
    height: 47px;
    background: var(--secendary);
    border-radius: 0 30px 0 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--inika);
    color: #fff;
    text-align: center;
    line-height: 87px;
    border: 2px solid transparent;
    transition: 0.2s all linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_btn:hover{
    color: var(--brand-color);
    background: transparent;
    border: 2px solid var(--brand-color);
}
.banner_col{
    display: flex;
    gap: 271px;
}
.banner_img{
    margin-left: 60px;
}
.banner_head{
    display: flex;
    justify-content: space-between;
    margin-top: 119px;
}
.banner_head h2{
    width: 403px;
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
}
.banner_button a{
    width: 328px;
    height: 76px;
    background: var(--praymary_color);
    border-radius: 10px 0 10px 0;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
    text-align: center;
    line-height: 76px;
    border: 2px solid transparent;
    transition: 0.4s all linear;
}
.banner_button a:hover{
    color: var(--brand-color);
    background: transparent;
    border: 2px solid var(--brand-color);
}
.banner_img{
    position: relative;
}
.banner_img2{
    position: absolute;
    left: 970px;
    top: 370px;
}
/* -------------------banner part end------------------- */

/*============--feature css start --------===============*/
#features{
    padding-top: 140px;
}
.features_head{
    display: flex;
    justify-content: space-between;
}
.features_head_text h2{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
}
.features_btn a{
    width: 159px;
    height: 49px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--secendary);
    font-size: 16px;
    font-weight: 800;
    font-family: var(--inika);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.features_btn a:hover{
    box-shadow: 1px 1px 50px 3px  #1d164d46;
    scale: 1.1;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: transparent;
    color: var(--secendary);
    border: 2px solid var(--secendary);
}
.features_btn a span{
    margin-left: 7px;
}
.features_box{
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.features_box_item{
    width: 350px;
    background: var(--secendary);
    padding: 9px 46px 12px 16px;
    margin-top: 30px;
    border-radius: 10px;
    transition: all linear .5s;
}
.features_box_item:hover{
    background:  linear-gradient(to right, rgba(123, 171, 201, 0.813) , rgba(13, 10, 51, 0.795));
    box-shadow: 1px 1px 50px 3px  #1d164d46;
    scale: 1.1;
}
/*----feather icon css start----*/
#work_process{
    padding-top: 50px;
}
.feather {
    width: 35px;
    height: 34px;
    stroke: #ffff;
    stroke-width: 1.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.features_box_item:hover .feather{
    stroke: #1d1f4d;
    scale: 1.1;
}
/*----feather icon css end----*/
.features_box_item .features_box_item_text h2{
    width: 263px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inika);
    color: #F5F5F5;
    margin-top: 10px;
    transition: all linear .3s;
}
.features_box_item:hover .features_box_item_text h2{
    color: var(--secendary);
    text-shadow: 1px 1px;
    scale: 1.1;

}
.features_box_item .features_box_item_text p{
    width: 238px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--inika);
    color: #F5F5F5;
    padding: 17px 0;
    transition: all linear .7s;
}
.features_box_item:hover .features_box_item_text p{
    color: var(--secendary);
    scale: 1.1;
}
.features_box_item .features_box_item_btn a{
    font-size: 14px;
    font-weight: 700;
    font-family: var(--inika);
    color: #70AAFF;
}
.features_box_item:hover .features_box_item_btn a{
    color: var(--secendary);
}
.features_box_item .features_box_item_btn a span{
    margin-left: 10px;
}
/*============--feature css end --------===============*/
/*============--Trusted_1 process css start --------===============*/
#work_process{
    background: url(../images/trusted\ background.png);
}
.work_process_head h1{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
    text-align: center;
}
.work_process_box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   border: 2px solid var(--secendary);
   border-radius: 10px;
   transition: all linear .3s;
}
.work_process_box:hover{
    background: var(--secendary);
    scale: 1.1;
    color: #fff;
}
.process_img{
    transition: all linear .3s;
}
.work_process_box:hover .process_img{
    scale: 1.2;
}
.process_text h3{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
    transition: all linear .3s;
}
.work_process_box:hover .process_text h3{
    color: #fff;
}
.process_text p{
    width: 200px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
    transition: all linear .3s;
}
.work_process_box:hover .process_text p{
    color: #fff;
}
.trusted_col_2 video{
    width: 456px;
    height: 500px;
}
/*============--Trusted_1 process css end --------===============*/
/*============--Trusted_2 with us css start--------===========*/
#working_width_us{
    background: url(../images/trusted\ background.png);
}
.trusted_row{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.working_col_1 video{
    margin-top: 100px;
    width: 523px;
    height: 500px;
    border-radius: 50px;
}
.trusted_col_1{
    margin-top: 160px;
}
.clint_text h2{
    width: 600px;
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
}
.clint_text p{
    margin-top: 30px;
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--inika);
    color: var(--secendary);
}
#working_width_us{
    margin-top: 200px;
    margin-bottom: 200px;
}
.working_row{
    display: flex;
    justify-content: space-between;
}
.working_col_2 h1{
    width: 496px;
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
}
.working_col_2 p{
    width: 490px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--inika);
    color: var(--secendary);
}
.choosing_list_row{
    display: flex;
    margin-top: 10px;
}
.list_number h1{
    width: 78px;
    font-size: 64px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--secendary);
}
.list_text{
    margin-left: 20px;
    margin-top: 20px;
}
.list_text h3{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--secendary);
}
.list_text p{
    width: 380px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--inria);
    color: var(--secendary);
}
.support_btn a{
    width: 200px;
    height: 50px;
    background: var(--secendary);
    border: 1px solid var(--secendary);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 45px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--inika);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.support_btn a:hover{
    border-color: var(--secendary);
    background: transparent;
    color: var(--secendary);
    box-shadow: 1px 1px 50px 3px #9fbef09e;
    scale: 1.1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;

}
/*============--Trusted with us css end --------============*/
/* ------------------Slider PArt Start------------- */
#Slider_part{
    margin-bottom: 100px !important;
}
.frame{
    width: 234px;
    margin-left: 459px;
    margin-top: 22px;
    /* z-index: 999; */
    position: absolute;
}
.Screenshot{
    margin-left: 33px;
    position: relative;
}
.Screenshot img{
    width: 140px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 50px;
    z-index: 1;
}

/* +++++++++++ Slider PArt End +++++++++++++++++ */
/* ------------------Slider PArt Start------------- */

.slider_txt{
    background: var(--secendary);
    width: 100%;
    height: 50px;
}
.slider_txt h2{
    font-size: 34px;
    font-family: var(--inria);
    color: var(--white_clr);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_main{
    display: flex;
    gap: 20px;
}
.slider_bg{
    margin-top: 70px;
    width: 300px;
    height: 455px;
    background: #F5F5F5;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgba(2, 31, 65, 0.3) 0px 0px 0px 3px;
}
.slider_bg:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.slider_bg video{
    position: absolute;
    width: 248px;
    height: 231px;
    top: 0;
    margin-left: 8px;
    border-radius: 20px;
}
.heading h3{
    width: 250px;
    font-size: 15px;;
    font-weight: 600;
    font-family: var(--inria);
    color: var(--brand-color);
    text-align: center;
    position: absolute;
    top: 230px;
    left: 0px;
}
.txt p{
    width: 238px;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--inria);
    color: var(--brand-color);
    text-align: center;
    position: absolute;
    top: 276px;
    left: 8px;
}

/* +++++++++++ COunter PArt End +++++++++++++++++ */
/* ------------------COunter PArt Start------------- */
#Counter_part{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 181px;
}
.main_counter{
    display: flex;
    gap: 54px;
}
.counter_box{
   width: 200px;
   height: 232px;
   background: var(--secendary);
   position: relative;
   border-radius: 10px;
}
.counter_box .line{
    width: 200px;
    height: 13px;
    background: var(--scndry_clr);
    position: absolute;
    top: 8%;
    left: -22%;
}
.counter_box .icon img{
    width: 45px;
    height: 40px;
    margin-top: 52px;
    margin-left: 72px;
    position: absolute;
    color: var(--scndry_clr);
}
.counter_box .counter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.counter_box .counter{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    margin-top: 111px;
    position: absolute;
    text-align: center;
    margin-left: 32px;
    transition: all linear .4s;
}
.counter_box .counter:hover{
    color: var(--scndry_clr);
}
.counter_box .plus{
    display: flex;
    justify-content: center;
}
.counter_box .plus:hover{
    color: var(--scndry_clr);
}
.counter_box .plus{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    position: absolute;
    margin-top: 111px;
    margin-left: 140px;
    transition: all linear .4s;
}
.counter_box .counter_txt{
    display: flex;
    justify-content: center;  
}
.counter_box .counter_txt h4{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    position: absolute;
    top: 82%;
}
.counter_box .counter_txt h4:hover{
    color: var(--scndry_clr) ;
}
/* ------counter2-------- */
.counter_box .counter_2{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    margin-top: 111px;
    position: absolute;
    text-align: center;
    margin-left: 45px;
    transition: all linear .4s;
}
.counter_box .counter_2:hover{
    color: var(--scndry_clr);
}
.plus_2{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    position: absolute;
    margin-top: 111px;
    margin-left: 129px;
    transition: all linear .4s;
}
.counter_box .plus_2:hover{
    color: var(--scndry_clr);
}
/* ------counter3-------- */
.counter_box .counter_3{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    margin-top: 111px;
    position: absolute;
    text-align: center;
    margin-left: 34px;
    transition: all linear .4s;
}
.counter_box .counter_3:hover{
    color: var(--scndry_clr);
}
.plus_3{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    position: absolute;
    margin-top: 111px;
    margin-left: 143px;
    transition: all linear .4s;
}
.counter_box .plus_3:hover{
    color: var(--scndry_clr);
}
/* ------counter4-------- */
.counter_box .counter_4{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    margin-top: 111px;
    position: absolute;
    text-align: center;
    margin-left: 67px;
    transition: all linear .4s;
}
.counter_box .counter_4:hover{
    color: var(--scndry_clr);
}
.plus_4{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--white_clr);
    position: absolute;
    margin-top: 111px;
    margin-left: 118px;
    transition: all linear .4s;
}
.counter_box .plus_4:hover{
    color: var(--scndry_clr);
}
/* +++++++++++ COunter PArt End +++++++++++++++++ */
/* =================== client part start================= */
.Client_main_txt h3{
    font-size: 64px;
    font-weight: 700;
    font-family: var(--inria);
    color: #3268B6;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 33px;
}
.client_feedback{
    display: flex;
    gap:30px;
    justify-content: center;
}
.client_part{
    display: flex;
}
.clnt_bg{
    width: 308px;
    height: 378px;
    background: #70AAFF;
    border-radius: 10px;
    position: relative;
}
.clnt_pic{
    position: absolute;
    margin-top: -280px;
    left: 35%;
    margin-bottom: 20px;
}
.loader{
    width: 87px;
    height: 87px;
    border: 3px dashed var(--secendary);
    border-radius: 50%;
    position: absolute;
    top: -280px;
    left: 35%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(360deg);
    }
}

.white_box{
    width: 294px;
    height: 280px;
    border-radius: 10px;
    background: #fff;
    top: 20%;
    margin: 0px 8px;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.white_box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.white_box .reviw_txt{
    width: 258px;
    margin: 80px 15px;
}
.white_box .reviw_txt p{
    font-size: 13px;
    font-weight: 400;
    color: var(--brand-color);
    font-family: var(--inika);
    text-align: center;

}
.white_box .client_review{
    width: 14.377px;
    height: 15px;
    color: #FB9804;
    margin-top: 20px;
    display: flex;
}
.client_review ul{
    position: absolute;
    top: 140px;
    display: flex;
    gap: 5px;
    padding: 25px 0px 33px 99px;
}
.client_review li:hover{
    color: #1F4172;
}
.client_button{
    position: absolute;
    top: 80%;
    left: 33%;
}
.client_button a{
    width: 118px;
    height: 38px;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--inika);
    background: var(--brand-color);
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--brand-color);
    transition: all linear 0.4s;
}
.client_button a:hover{
    border: 1px solid var(--brand-color);
    background: transparent;
    color: var(--brand-color);
}
/* -------------------Client part end------------------- */
/* =================== Pricing part start================= */
#pricing_part{
    margin-top: 100px;
    margin-left: 196px;
}
.pricing_head{
    display: flex;
    gap: 313px;
}
.pricing_list{
    display: flex;
    gap: 52px;
}
.pricing_head h2{
    font-size: 46px;
    font-weight: 700;
    font-family: var(--inria);
    color: #3268B6;
    margin-top: 62px;
    margin-bottom: 153px;
}
.pricing_head a{
    width: 133px;
    height: 37px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--inika);
    color: #fff;
    background: var(--brand-color);
    text-align: center;
    line-height: 37px;
    margin-top: 62px;
    margin-bottom: 153px;
    border: 1px solid var(--brand-color);
    border-radius: 10px 0px 10px 0px;
    transition: all linear .3s;
}
.pricing_head a:hover{
    border: 1px solid var(--brand-color);
    background: transparent;
    color: var(--brand-color);
}
.plan{
    width: 276px;
    border: 2px solid var(--brand-color);
    transition: all linear .3s;
}
.plan:hover{
    border: 1px solid #fff ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plan_icon i{
    font-size: 64px;
    padding: 19px 0px 14px 98px;
    color: var(--brand-color);  
}

.plan_text h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--secendary);
    margin: 0 auto;
    text-align: center;
}
.plan_text2 h4{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--inika);
    color: var(--secendary);
    padding-left: 100px;
}
.plan_text2 i{
    font-size: 51px;
    color: #70AAFF;
    padding-left: 80px;
}
.plan_text2 span{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--inria);
    padding-top: 40px;
}
.line{
    height: 9px;
    width: 193px;
    background: #70AAFF;
    margin-left: 44px;
    margin-top: 5px;
}
.plan_text2 p{
    width: 210px;
    height: 95px;
    color: #132043;
    font-family: var(--inria);
    font-size: 16px;
    font-weight: 700;
    margin: 20px 30px 20px 30px;
}
.plan_text2 a{
    width: 199px;
    height: 37px;
    font-size: 26px;
    font-weight: 700;
    font-family: var(--inika);
    color: #fff;
    background: var(--brand-color);
    border: 1px solid var(--brand-color);
    line-height: 37px;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    margin: 20px 0px 20px 27px;
    transition: all linear .3s;
}
.plan_text2 a:hover{
    border: 1px solid var(--brand-color);
    border-radius: 0px 20px 0px 20px;
    background: transparent;
    color: var(--brand-color);
}
/* ---------------Pricing link part end------------- */
/*============--Partners css start--------============*/
#partner{
    margin-top: 100px;
}
.partners_head h2{
    font-size: 64px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--brand-color);
    text-align: center;
}
.partner_logo{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.partner_logo_2{
    display: flex;
    justify-content: space-between;
}
/* -------------------Partners part end------------------- */
/*============--Our devloper css start--------=======*/
#developers{
    margin-top: 100px;
    margin-bottom: 170px;
}
.dv_txt .heaing h2{
    font-size: 60px;
    font-weight: 600;
    font-family: var(--inria);
    color: var(--brand-color);
    text-align: center;
}
.dv_txt .heaing p{
    width: 538px;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--inria);
    color: var(--brand-color);
    text-align: center;
    margin-top: 25px;
    margin-left: 272px;
    margin-bottom: 50px;
}
.main_devlopr{
    display: flex;
    justify-content: space-between;
}
.dvelopr{
    width: 301px;
    height: 276px;
    background: var(--scndry_clr);
}
.dvelopr:hover{
    box-shadow: rgba(46, 32, 236, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.dvlpr_txt h3{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--secendary);
    text-align: center;
    margin-top: 10px;
}
.dvlpr_txt p{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--secendary);
    text-align: center;
    margin-top: 8px;
}
/* --------------Our devloper part end------------ */
/*============--news letter css start--------=======*/
.nws_txt h2{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--brand-color);
    margin-bottom: 25px;
}
.nws_txt p{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--inria);
    color: var(--brand-color);
    margin-bottom: 25px;
}
.nws_ltr{
    display: flex;
    gap: 320px;
    align-items: center;
}
.nws_box input{
    width: 250px;
    height: 34px;
    background: var(--praymary_color);
    border: none;
    border-radius: 10px;
    line-height: 34px;
    position: relative;
   
}
.nws_box input::placeholder{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--inria);
    color: var(--secendary);
    text-align: center;
}
.nws_box{
    display: flex;
}
.nws_bttn{
    position: absolute;
    width: 120px;
    height: 34px;
    background: var(--secendary);
    border-radius: 10px;
    left: 1189px;
}
.nws_bttn a{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--inria);
    color: var(--white_clr);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nws_bttn:hover{
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
/* --------------Ounews letter part end------------ */
/*============--download_device css start--------======*/
#download_desices{
    margin-top: 60px;
    background: url(..//images/developer\ bg.png);
}
.main_box{
    margin-bottom: 200px;
}
.download_desices.container.row{
    margin-bottom: 60px;
}
.download_device_item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #70AAFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: all linear .3s;
}
.download_device_item:hover{
    background: transparent;
    border: 2px solid #70AAFF;
}
.download_devices_head{
    margin-bottom: 60px;
}
.download_devices_head h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: var(--inria);
    color: #3268B6;
}
.device_icon{
    margin-right: 40px;
    transition: all linear .3s;
}
.download_device_item:hover .device_icon{
    color: rgb(101, 99, 99);
}
.devices_text p{
    font-size: 20px;
    font-size: 700;
    font-family: var(--inria);
   
}
.devices_text h1{
    margin-bottom: 5px;
    font-size: 40px;
}
/*============--download_device css end --------============*/
/* ------ footer css start ----- */
#footer{
    background:var(--secendary);
}
.footer_row{
    display: flex;
    gap: 62px;
    justify-content: center;
}
.footer_logo_col .footer_logo img{
    width: 290px;
    border-radius: 20px;
    margin-top: 30px;
}
.footer_logo_col h2{
    width:350px ;
    font-size: 18px;
    font-weight:400 ;
    font-family: var(--inria); 
    color:var(--white_clr);
    margin-top: 26px;
    margin-bottom: 24px;
}
.footer_icon ul{
    padding: 0px;
}
.footer_icon ul{
    display: flex;
    justify-content: start;
    gap: 28px; 
}
.footer_icon ul li a{
    font-size: 24px;
    color:var(--scndry_clr);
}
.footer_icon ul li a:hover{
    color: var(--praymary_color);
}
.footer_service_col{
    margin-top: 61px;
}
.footer_services span{
    color:var(--scndry_clr);
    margin-right: 12px;
}
.footer_services p span:hover{
    color: var(--praymary_color);
}
.footer_service_head h3{
    font-size: 24px;
    font-weight: 700;
    font-family:var(--inria); 
    color: #F1B4BB;
    position: relative;
}
.footer_service_head h3::after{
    content: '';
    position: absolute;
    top: 110%;
    left: 0%;
    height: 5px;
    width: 0%;
    background-color:var(--scndry_clr);
    transition: all linear .3s;
}
.footer_service_head h3:hover::after{
    width: 133px;
}
.footer_services{
    margin-top: 24px;
}
.footer_services p{
    color:var(--white_clr);
    font-size: 15px;
    font-weight: 700;
    font-family: var(--inria); 
    margin-top: 14px;  
}
#footer .copyright p{
    font-size: 13px;
    font-weight: 400;
    font-family:var(--inria); 
    color:var(--white_clr);
    margin-bottom:19px ;
    margin-top: 39px;
    margin-left: 142px;
}
/* ------ footer css  end ----- */